.button {
  background-color: transparent;
  border: 3px solid currentColor;
  border-radius: 10px;
  font: inherit;
  color: inherit;
  font-weight: 700;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
